#asidee {
  width: 300px;
  background: linear-gradient(135deg, #6a0dad, #8e44ad);
  color: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0.9;
  overflow: hidden;
}

#asidee:hover {
  transform: translateX(0px) translateY(7px);
  opacity: 1;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3), 0 6px 8px rgba(0, 0, 0, 0.2);
}

#asidee h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

#asidee p {
  font-size: 1em;
  line-height: 1.6;
}

#asidee::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.2), transparent);
  transform: rotate(45deg);
  animation: spin 10s linear infinite;
  pointer-events: none;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*SCROLL*/
body, html {
    overflow: hidden;
    height: 100%;
  }


#navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(135deg, #6a0dad, #8e44ad);
    color: white;
    padding: 15px 30px;
    font-family: 'Arial', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, opacity 0.3s ease, box-shadow 0.3s ease;
  }
  
  #navbar a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    padding: 10px 20px;
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  #navbar a:hover {
    opacity: 0.8;
    transform: translateY(-3px);
  }

  #navbar:hover {
    opacity: 1;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3), 0 6px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
  }
  
  body {
    margin-top: 80px;/*no tapar lo de abajo menso*/
  }
  
.btnrft {
    background: linear-gradient(135deg, #6a0dad, #8e44ad);
    color: white;
    padding: 10px 26px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: transform 0.2s ease, opacity 0.1s ease, box-shadow 0.1s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    font-family: 'Arial', sans-serif;
  }
  
  .btnrft:hover {
    opacity: 0.9;
    transform: translateY(1.5px); 
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3), 0 3px 4px rgba(0, 0, 0, 0.2); 
  }
  
  .btnrft:focus {
    outline: none;
  }
  
  .btnrft:active {
    transform: translateY(2px); 
  }
  
